@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CLÉINFO INFORMATIQUE</h1>
    <p class="lead">Bienvenue sur le site web le plus sur la coche d'Internet. CléInfo vend pleins de trucs informatisés super intéressant. Si tu ne trouve pas ce que tu veux ici ça ne doit pas exister.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que peut-on faire sur ce site?</h2>
        <p>
            Vous pouvez magasiner sans vous souciez d'acheter... Créer vous un client et mettez des objets dans votre panier. Ensuite venez au magasin et vous aurez les items choisis à votre portée.
        </p>
        
    </div>
    
</div>